<header>
            <h1 class="site-title">The Correct Team Presents: Connect Four</h1>
            <nav class="navbar">
                <ul class="list"></ul>
                    <li class="navbar item active"><a href="#">Home</a></li>
                    <li class="navbar item"><a href="#">Leaderboards</a></li>
            </nav>

</header>