<div class = "scoreBoard">
                <h1 class = "title" >Top Scores:</h1>
                <h2 class = "playerName" >Player</h2>
                <h2 class = "playerWins" >Wins</h2>

                {{>scoreboard}}
               
</div>