<div class = "scoreBoard">
        <h1 class = "title" >Top Scores</h1>
        <h2 class = "boardsec playerTitle" >Player</h2>
        <h2 class = "boardsec winsTitle" >Wins</h2>

        {{>scoreboard}}

</div>