<article class="thePeople">
	<div class="singlePerson">
		{{#each data}}
		    {{person}}
		{{/each}}
	</div>

	<div class="singleScore">
		{{#each data}}
			{{score}}
		{{/each}}
	</div>

</article>
