<<<<<<< HEAD
<article class="thePeople">
	<div class="singlePerson">
		{{#each data}}
		    {{person}}
		{{/each}}
	</div>

	<div class="singleScore">
		{{#each data}}
			{{score}}
		{{/each}}
	</div>

</article>
=======
		<div class="item1">
		    {{person}}
		</div>

		<div class="item2">
			{{score}}
		</div>
		
>>>>>>> 7fc237f1e453618cd998cebf3715569bddacdd05
