<article class="thePeople">
	<div class="singlePerson">
		{{#each people}}
		    {{>people}}
		{{/each}}
	</div>

	<div class="singleScore">
		{{#each scores}}
			{{>scores}}
		{{/each}}
	</div>

</article>
