<div class = "scoreBoard">
                <h1 class = "title" >Top Scores:</h1>
                <h2 class = "playerTitle" >Player</h2>
                <h2 class = "winsTitle" >Wins</h2>
                
</div>