<!DOCTYPE html>
<html>
    <head>
    
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <meta charset="utf-8">
        <title>Connect Four</title>
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
        <!-- CSS Styling -->
        <link rel="stylesheet" href="style.css" media="screen">
        <!-- Icons -->
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>

    
    </head>

    <body>
       
        {{> head}}

        {{{body}}}
    
    </body>

</html>

