<main class="game-container">
            <table class = "gameBoard">
                <tbody>
                    <tr>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                    </tr>

                    <tr>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                    </tr>

                    <tr>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                    </tr>

                    <tr>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                    </tr>
                    
                    <tr>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                    </tr>

                    <tr>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                        <td> <button type = "button"></button></td>
                    </tr>
                </tbody>
            </table>
        
            <div class="newgamebutton">
                <a href="#" class="newGame">New Game</a>
            </div>
            
            <div class = "divider"></div>

            {{> scoreboardpage}}
        
        </main>