    <script src="index.js" charset="utf-8" defer></script>
    
    
    <main>
        <table class = "gameBoard">
            <tbody>
                <tr>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                </tr>
                <tr>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                </tr>
                <tr>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                </tr>
                <tr>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                </tr>
                <tr>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                </tr>
                <tr>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                    <td> <button type = "button"></button></td>
                </tr>
            </tbody>
        </table>

        <a href = "#" class="newGame">New Game</a>

        <div class = "divider">

        </div>
        <div class = "scoreBoard">
            <h1 class = "scoreboardTitle" >Top Scores:</h1>
            <h2 class = "playerTitle" >Player</h2>
            <h2 class = "wins" >Wins</h2>
            <p class = "player" >Player Here</p>
            <p class = "score" >Score Here</p>
        </div>
    </main>